.resume {
    margin-top: 20px;
}

.resume li {
    margin: 0 0 20px 0;
}
.resume .role {
    font-size: 0.9em;
    font-family: 'Avenir-Heavy';
    margin: 4px 0;
}
.resume .date {
    font-size: 0.9em;
    color: rgba(34, 36, 39, 0.5);
}
.resume .company {
    font-size: 0.9em;
}
.resume .skill {
    font-size: 0.9em;
    font-family: 'Avenir-Heavy';
}

.seagulls {
    width: 266px;
    height: 75px;
    display: block;
    position: absolute;
    z-index: -1;
    margin-top: -50px;
    margin-left: 100px;
}
